body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

li, a {
	text-decoration: none;
}

.header {
	width: 100%;
	height: 700px;
}

.header__top__tape {
	width: 100%;
	height: 80px;
	border: 1px solid #ffffff;
	margin: 0;
	position: relative;
}

.header__logo {
	background: #5E81FE;
	width: 26px;
	height: 26px;
	border-radius: 50px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 117px;
}

.header__menu {
	width: 427px;
	height: auto;
	position: absolute;
	left: 190px;
	top: 50%;
	transform: translate(0, -50%);
}

.header__menu__list {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.item{
  letter-spacing: 1px;
  text-decoration: none;
}

.item:not(.now_page) {
	color: #697CA6;
	font-weight: 500;
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
}

.now_page {
	color: #5E81FE;
	font-weight: 700;
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
}

.header__masangers {
	width: 162px;
	display: flex;
	justify-content: space-around;
	position: absolute;
	left: 800px;
	top: 50%;
	transform: translate(0, -50%);
}

.header__masangers__icon {
	width: 162px;
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.icon {
  	transition-duration: .3s;
}

.icon:hover {
	transform: scale(1.7);
	transition-duration: .3s;
}

.header__get__started {
	width: 150px;
	height: 43px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 30px;
}

.header__get__started__button {
	width: 100%;
	height: 100%;
	background: #D2E1FF;
	transition-duration: .3s;
}

.header__get__started__button:hover {
	background: #3A79FF;
	transition-duration: .3s;
}

.header__get__started__button:hover  .header__get__started__button__link{
	color: #D2E1FF;
	transition-duration: .3s;
}

.header__get__started__button a {
	color: #3A79FF;
	font-family: 'Quicksand', sans-serif;
	font-weight: 13px;
	font-weight: 800;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 19%;
}

.header__menu__list a{
	display: inline-block;
  line-height: 2;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.header__menu__list a:after {
    display: block;
    content: "";
    background-color: #697CA6;
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.header__menu__list a:hover:after,
.header__menu__list a:focus:after {
	width: 90%;
}

.header__back__image {
	width: 100%;
	height: 600px;
	position: relative;
	background:
	no-repeat url(../hero_image.png);
	background-position: center;
	background-size: cover;
}

.header__text {
	width: 583px;
	text-align: center;
	position: absolute;
	top: 5%;
	left: 27%;
}

.header__text__top {
	font-family: 'Quicksand', sans-serif;
	font-size: 10px;
	color: #3D4F9F;
	font-weight: 800;
	letter-spacing: 1px;
}

.header__text__middle {
	font-family: 'Quicksand', sans-serif;
	color: #3D4F9F;
	font-size: 45px;
	font-weight: 100;
	letter-spacing: 1px;
}

.color {
	font-family: 'Quicksand', sans-serif;
	color: #3D4F9F;
	font-size: 45px;
	font-weight: 600;
	letter-spacing: 1px;
}

.header__text__bottom {
	font-family: 'Quicksand', sans-serif;
	color: #8D96BD;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 30px;
}

.slick-slide:active, .slick-slide:focus {
	outline: none;
}

.slick-track {
	display: flex;
}

.slick-list {
	overflow: hidden;
}

.slider {
	position: relative;
}

.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .slick-dots li {
	list-style: none;
	margin: 0px 20px;
}

.slider .slick-dots button{
	font-size: 0;
	width: 13px;
	height: 13px;
	background: #D1D6E3;
	border-radius: 50px;
	border: none;
	position: absolute;
	bottom: 10%;
}

.slider .slick-dots button:active, .slider .slick-dots button:focus {
	outline: none;
}


.slider .slick-dots li.slick-active button {
	background: #5283FF;
}

.customers {
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.customers__item {
	width: 117px;
	height: 29px;
}

.p_and_m {
	width: 100%;
	height: 700px;
	background: url(../plan_and_manage.png);
	background-position: center;
	background-size: cover;
	position: relative;
}

.text {
	width: 40%;
	position: absolute;
	top: 10%;
	left: 6%;
}

.p_and_m__top {
	font-family: 'Quicksand', sans-serif;
	font-size: 10px;
	color: #3D4F9F;
	font-weight: 800;
	letter-spacing: 1px;
}

.p_and_m__middle {
	font-family: 'Quicksand', sans-serif;
	color: #3D4F9F;
	font-size: 45px;
	font-weight: 100;
	letter-spacing: 1px;
}

.p_and_m__bottom {
	font-family: 'Quicksand', sans-serif;
	color: #8D96BD;
	font-size: 15px;
	letter-spacing: 1px;
	width: 80%;
	line-height: 30px;
}